In [1]:
!pip install -q yfinance

In [11]:
import yfinance as yf
yf.pdr_override()
import pandas as pd
import numpy as np
from datetime import datetime
from sklearn.preprocessing import StandardScaler

In [12]:
stock = 'AAPL'
start = datetime(2016,1,1)
end = datetime(2019,12,31)
df = yf.download(stock, start, end)

[*********************100%%**********************]  1 of 1 completed

In [13]:
df['Change'] = df['Close'] - df['Open']
df.reset_index(inplace=True)
scaler = StandardScaler()
numeric_columns = ['Volume', 'Change']
df[numeric_columns] = scaler.fit_transform(df[numeric_columns])
df = df.drop(['Open', 'High', 'Low', 'Close', 'Adj Close'], axis=1)

/Users/ange/opt/anaconda3/envs/nlp/lib/python3.11/site-packages/sklearn/utils/validation.py:767: FutureWarning: is_sparse is deprecated and will be removed in a future version. Check `isinstance(dtype, pd.SparseDtype)` instead.
  if not hasattr(array, "sparse") and array.dtypes.apply(is_sparse).any():
/Users/ange/opt/anaconda3/envs/nlp/lib/python3.11/site-packages/sklearn/utils/validation.py:605: FutureWarning: is_sparse is deprecated and will be removed in a future version. Check `isinstance(dtype, pd.SparseDtype)` instead.
  if is_sparse(pd_dtype):
/Users/ange/opt/anaconda3/envs/nlp/lib/python3.11/site-packages/sklearn/utils/validation.py:614: FutureWarning: is_sparse is deprecated and will be removed in a future version. Check `isinstance(dtype, pd.SparseDtype)` instead.
  if is_sparse(pd_dtype) or not is_extension_array_dtype(pd_dtype):
/Users/ange/opt/anaconda3/envs/nlp/lib/python3.11/site-packages/sklearn/utils/validation.py:767: FutureWarning: is_sparse is deprecated and will be removed in a future version. Check `isinstance(dtype, pd.SparseDtype)` instead.
  if not hasattr(array, "sparse") and array.dtypes.apply(is_sparse).any():
/Users/ange/opt/anaconda3/envs/nlp/lib/python3.11/site-packages/sklearn/utils/validation.py:605: FutureWarning: is_sparse is deprecated and will be removed in a future version. Check `isinstance(dtype, pd.SparseDtype)` instead.
  if is_sparse(pd_dtype):
/Users/ange/opt/anaconda3/envs/nlp/lib/python3.11/site-packages/sklearn/utils/validation.py:614: FutureWarning: is_sparse is deprecated and will be removed in a future version. Check `isinstance(dtype, pd.SparseDtype)` instead.
  if is_sparse(pd_dtype) or not is_extension_array_dtype(pd_dtype):

In [14]:
df

           Date    Volume    Change
0    2016-01-04  2.476059  1.386372
1    2016-01-05  1.654469 -1.683202
2    2016-01-06  2.532040  0.005596
3    2016-01-07  3.407574 -1.253038
4    2016-01-08  2.694205 -0.913154
...         ...       ...       ...
1000 2019-12-23 -0.503570  1.774054
1001 2019-12-24 -1.371227 -0.291809
1002 2019-12-26 -0.597983  2.634382
1003 2019-12-27  0.322530 -0.769768
1004 2019-12-30  0.285263  1.025246

[1005 rows x 3 columns]

In [15]:
df.describe()

                                Date        Volume        Change
count                           1005  1.005000e+03  1.005000e+03
mean   2017-12-30 23:39:56.417910528 -4.242046e-17 -1.237263e-17
min              2016-01-04 00:00:00 -1.423723e+00 -4.901478e+00
25%              2016-12-30 00:00:00 -6.691091e-01 -4.670548e-01
50%              2017-12-29 00:00:00 -2.823900e-01  2.152706e-02
75%              2018-12-31 00:00:00  3.212069e-01  4.941856e-01
max              2019-12-30 00:00:00  7.029385e+00  4.641819e+00
std                              NaN  1.000498e+00  1.000498e+00

In [16]:
import os
if not os.path.exists("stock_data"):
    os.makedirs("stock_data")
df.to_csv("stock_data/AAPL_stock.csv", index=False)