In [1]:
!pip install -q yfinance

In [1]:
import yfinance as yf
yf.pdr_override()
import pandas as pd
import numpy as np
from datetime import datetime
from sklearn.preprocessing import StandardScaler

In [2]:
stock = '^GSPC'
start = datetime(2016,1,1)
end = datetime(2019,12,31)
df = yf.download(stock, start, end)

[*********************100%%**********************]  1 of 1 completed

In [3]:
df['Change'] = (df['Close'] - df['Open']) / df['Open']
df.reset_index(inplace=True)
scaler = StandardScaler()
numeric_columns = ['Volume', 'Change']
df[numeric_columns] = scaler.fit_transform(df[numeric_columns])

/Users/ange/opt/anaconda3/envs/nlp/lib/python3.11/site-packages/sklearn/utils/validation.py:767: FutureWarning: is_sparse is deprecated and will be removed in a future version. Check `isinstance(dtype, pd.SparseDtype)` instead.
  if not hasattr(array, "sparse") and array.dtypes.apply(is_sparse).any():
/Users/ange/opt/anaconda3/envs/nlp/lib/python3.11/site-packages/sklearn/utils/validation.py:605: FutureWarning: is_sparse is deprecated and will be removed in a future version. Check `isinstance(dtype, pd.SparseDtype)` instead.
  if is_sparse(pd_dtype):
/Users/ange/opt/anaconda3/envs/nlp/lib/python3.11/site-packages/sklearn/utils/validation.py:614: FutureWarning: is_sparse is deprecated and will be removed in a future version. Check `isinstance(dtype, pd.SparseDtype)` instead.
  if is_sparse(pd_dtype) or not is_extension_array_dtype(pd_dtype):
/Users/ange/opt/anaconda3/envs/nlp/lib/python3.11/site-packages/sklearn/utils/validation.py:767: FutureWarning: is_sparse is deprecated and will be removed in a future version. Check `isinstance(dtype, pd.SparseDtype)` instead.
  if not hasattr(array, "sparse") and array.dtypes.apply(is_sparse).any():
/Users/ange/opt/anaconda3/envs/nlp/lib/python3.11/site-packages/sklearn/utils/validation.py:605: FutureWarning: is_sparse is deprecated and will be removed in a future version. Check `isinstance(dtype, pd.SparseDtype)` instead.
  if is_sparse(pd_dtype):
/Users/ange/opt/anaconda3/envs/nlp/lib/python3.11/site-packages/sklearn/utils/validation.py:614: FutureWarning: is_sparse is deprecated and will be removed in a future version. Check `isinstance(dtype, pd.SparseDtype)` instead.
  if is_sparse(pd_dtype) or not is_extension_array_dtype(pd_dtype):

In [4]:
df

,Date,Open,High,Low,Close,Adj Close,Volume,Change
0,2016-01-04,2038.199951,2038.199951,1989.680054,2012.660034,2012.660034,0.995004,-1.835180
1,2016-01-05,2013.780029,2021.939941,2004.170044,2016.709961,2016.709961,0.112543,0.186374
2,2016-01-06,2011.709961,2011.709961,1979.050049,1990.260010,1990.260010,1.041881,-1.565157
3,2016-01-07,1985.319946,1985.319946,1938.829956,1943.089966,1943.089966,2.133313,-3.098581
4,2016-01-08,1945.969971,1960.400024,1918.459961,1922.030029,1922.030029,1.526110,-1.802179
...,...,...,...,...,...,...,...,...
1000,2019-12-23,3226.050049,3227.780029,3222.300049,3224.010010,3224.010010,-0.834570,-0.115337
1001,2019-12-24,3225.449951,3226.429932,3220.510010,3223.379883,3223.379883,-3.442452,-0.116700
1002,2019-12-26,3227.199951,3240.080078,3227.199951,3239.909912,3239.909912,-2.162097,0.545345
1003,2019-12-27,3247.229980,3247.929932,3234.370117,3240.020020,3240.020020,-1.771785,-0.344872
1004,2019-12-30,3240.090088,3240.919922,3216.570068,3221.290039,3221.290039,-0.897717,-0.862632

In [5]:
df.describe()

,Date,Open,High,Low,Close,Adj Close,Volume,Change
count,1005,1005.000000,1005.000000,1005.000000,1005.000000,1005.000000,1.005000e+03,1.005000e+03
mean,2017-12-30 23:39:56.417910528,2549.720288,2560.217841,2538.068110,2550.054803,2550.054803,4.242046e-17,-1.767519e-18
min,2016-01-04 00:00:00,1833.400024,1847.000000,1810.099976,1829.079956,1829.079956,-3.442452e+00,-5.623241e+00
25%,2016-12-30 00:00:00,2267.780029,2272.010010,2258.840088,2265.199951,2265.199951,-5.723508e-01,-3.564754e-01
50%,2017-12-29 00:00:00,2602.659912,2627.689941,2585.889893,2602.419922,2602.419922,-1.553993e-01,4.093136e-02
75%,2018-12-31 00:00:00,2818.090088,2829.909912,2803.459961,2816.290039,2816.290039,3.731099e-01,4.719480e-01
max,2019-12-30 00:00:00,3247.229980,3247.929932,3234.370117,3240.020020,3240.020020,5.940851e+00,6.372936e+00
std,NaN,332.753608,333.583013,331.993708,332.609498,332.609498,1.000498e+00,1.000498e+00

In [6]:
import os
if not os.path.exists("stock_data"):
    os.makedirs("stock_data")
df.to_csv("stock_data/^GSPC_stock.csv", index=False)