In [1]:
!pip install -q yfinance

In [38]:
import yfinance as yf
yf.pdr_override()
import pandas as pd
import numpy as np
from datetime import datetime

In [39]:
stock = 'AAPL'
start = datetime(2016,1,1)
end = datetime(2019,12,31)
df = yf.download(stock, start, end)

[*********************100%%**********************]  1 of 1 completed

In [40]:
df['Change'] = df['Adj Close'] - df['Open']
df['Direction'] = np.where(df['Change'] > 0, 1, 0)

In [41]:
df

,Open,High,Low,Close,Adj Close,Volume,Change,Direction
Date,,,,,,,,
2016-01-04,25.652500,26.342501,25.500000,26.337500,24.009064,270597600,-1.643436,0
2016-01-05,26.437500,26.462500,25.602501,25.677500,23.407413,223164000,-3.030087,0
2016-01-06,25.139999,25.592501,24.967501,25.174999,22.949335,273829600,-2.190664,0
2016-01-07,24.670000,25.032499,24.107500,24.112499,21.980772,324377600,-2.689228,0
2016-01-08,24.637501,24.777500,24.190001,24.240000,22.097004,283192000,-2.540497,0
...,...,...,...,...,...,...,...,...
2019-12-23,70.132500,71.062500,70.092499,71.000000,69.261612,98572000,-0.870888,0
2019-12-24,71.172501,71.222504,70.730003,71.067497,69.327446,48478800,-1.845055,0
2019-12-26,71.205002,72.495003,71.175003,72.477501,70.702927,93121200,-0.502075,0
2019-12-27,72.779999,73.492500,72.029999,72.449997,70.676086,146266000,-2.103912,0
2019-12-30,72.364998,73.172501,71.305000,72.879997,71.095566,144114400,-1.269432,0

In [42]:
df.to_csv("stock_data/AAPL_stock.csv", index=False)