# Import Data

In [2]:
# import getpass
# APIKEY = getpass.getpass()

In [5]:
# !mkdir -p news_data
# for year in range(2014, 2015):
#     for month in range(1, 3):
#         output_file = f"news_data/archive_{year}_{month:02d}.json"
#         url = f"https://api.nytimes.com/svc/archive/v1/{year}/{month}.json?api-key={APIKEY}"
#         !curl --request GET -o $output_file "$url"

  % Total    % Received % Xferd  Average Speed   Time    Time     Time  Current
                                 Dload  Upload   Total   Spent    Left  Speed
  0     0    0     0    0     0      0      0 --:--:-- --:--:-- --:--:--     0

100 18.5M  100 18.5M    0     0   116k      0  0:02:42  0:02:42 --:--:-- 84959 0  0:02:15  0:00:10  0:02:05  165k:50  124k   0  0:02:48  0:00:50  0:01:58     0:00:52  0:02:02     0:54  0:02:07     07M    0     0   114k      0  0:02:46  0:01:54  0:00:52 75472
  % Total    % Received % Xferd  Average Speed   Time    Time     Time  Current
                                 Dload  Upload   Total   Spent    Left  Speed
 66 17.6M   66 11.7M    0     0   111k      0  0:02:44  0:01:46  0:00:58  198k    0  0:02:24  0:00:09  0:02:15  147k:49 797976k 0:02:20  181k8k      0  0:03:02  0:01:21  0:01:41 688540:01:30  157k4k      0  0:02:53  0:01:29  0:01:24  160k  0:02:50  0:01:40  0:01:10 87464      0  0:02:41  0:01:47  0:00:54  236k^C

# To Dataframe

In [6]:
import json
import pandas as pd

In [7]:
def json_to_df(json_file_path, dataframe):
    with open(json_file_path, 'r') as file:
        content = json.load(file)["response"]["docs"]
    df = pd.json_normalize(content)
    return pd.concat([df, dataframe], ignore_index=True)

In [8]:
column_names = ['abstract', 'web_url', 'snippet', 'lead_paragraph', 'source', 'multimedia', 'keywords', 'pub_date', 'document_type', 'news_desk','section_name', 'type_of_material', '_id', 'word_count', 'uri', 'headline.main', 'headline.kicker', 'headline.content_kicker', 'headline.print_headline', 'headline.name', 'headline.seo', 'headline.sub', 'byline.original', 'byline.person', 'byline.organization', 'print_section', 'print_page', 'subsection_name']

In [9]:
df = pd.DataFrame(columns=column_names)
for year in range(2016, 2020):
    for month in range(1, 13):
        filename = f"news_data/archive_{year}_{month:02d}.json"
        df = json_to_df(filename, df)

In [11]:
df.head()

,abstract,web_url,snippet,lead_paragraph,print_section,print_page,source,multimedia,keywords,pub_date,...,headline.main,headline.kicker,headline.content_kicker,headline.print_headline,headline.name,headline.seo,headline.sub,byline.original,byline.person,byline.organization
0,President Trump’s aides were delighted that ne...,https://www.nytimes.com/2019/11/30/us/politics...,President Trump’s aides were delighted that ne...,"BAGRAM AIR FIELD, Afghanistan — It may be the ...",A,29,The New York Times,"[{'rank': 0, 'subtype': 'xlarge', 'caption': N...","[{'name': 'subject', 'value': 'Afghanistan War...",2019-12-01T00:15:08+0000,...,A Leak-Prone White House Finally Manages to Ke...,White House Memo,None,Using Canned Tweets and Tight Lips to Make a S...,None,None,None,By Michael Crowley,"[{'firstname': 'Michael', 'middlename': None, ...",None
1,The Buckeyes quarterback threw one of his four...,https://www.nytimes.com/2019/11/30/sports/ncaa...,The Buckeyes quarterback threw one of his four...,"ANN ARBOR, Mich. — The throw was only one of 2...",SP,5,The New York Times,"[{'rank': 0, 'subtype': 'xlarge', 'caption': N...","[{'name': 'subject', 'value': 'Football (Colle...",2019-12-01T00:33:57+0000,...,Justin Fields Has ‘Heisman Moment’ in Ohio Sta...,None,None,From Medical Tent to a ‘Heisman Moment’: Field...,None,None,None,By Jeff Arnold,"[{'firstname': 'Jeff', 'middlename': None, 'la...",None
2,A personal loss has prompted Eileen Shiffrin t...,https://www.nytimes.com/2019/11/30/sports/skii...,A personal loss has prompted Eileen Shiffrin t...,"KILLINGTON, Vt. — Mikaela Shiffrin, the two-ti...",SP,6,The New York Times,"[{'rank': 0, 'subtype': 'xlarge', 'caption': N...","[{'name': 'subject', 'value': 'World Cup (Skii...",2019-12-01T00:37:15+0000,...,Mikaela Shiffrin Learns a New Way to Win: With...,None,None,Shiffrin Settles In to New Season Without Her...,None,None,None,By Bill Pennington,"[{'firstname': 'Bill', 'middlename': None, 'la...",None
3,The actor and environmentalist released a stat...,https://www.nytimes.com/2019/11/30/world/ameri...,The actor and environmentalist released a stat...,The actor and environmentalist Leonardo DiCapr...,A,29,The New York Times,"[{'rank': 0, 'subtype': 'xlarge', 'caption': N...","[{'name': 'subject', 'value': 'Social Media', ...",2019-12-01T01:03:22+0000,...,Leonardo DiCaprio Responds to Brazil’s Preside...,None,None,Actor Spars With Brazil’s Leader Over Fires,None,None,None,By Aimee Ortiz,"[{'firstname': 'Aimee', 'middlename': None, 'l...",None
4,A blocked pipe caused sewage to back up severa...,https://www.nytimes.com/2019/11/30/nyregion/Qu...,A blocked pipe caused sewage to back up severa...,A blocked pipe sent sewage flooding into at le...,A,21,The New York Times,"[{'rank': 0, 'subtype': 'xlarge', 'caption': N...","[{'name': 'subject', 'value': 'Sewers and Sewa...",2019-12-01T01:47:35+0000,...,Cooking Grease Down a Drain Eyed in Sewage Flo...,None,None,Cooking-Grease Clog May Have Caused Sewage to ...,None,None,None,By Neil Vigdor and Michael Wilson,"[{'firstname': 'Neil', 'middlename': None, 'la...",None

In [12]:
df.columns

Index(['abstract', 'web_url', 'snippet', 'lead_paragraph', 'print_section',
       'print_page', 'source', 'multimedia', 'keywords', 'pub_date',
       'document_type', 'news_desk', 'section_name', 'subsection_name',
       'type_of_material', '_id', 'word_count', 'uri', 'headline.main',
       'headline.kicker', 'headline.content_kicker', 'headline.print_headline',
       'headline.name', 'headline.seo', 'headline.sub', 'byline.original',
       'byline.person', 'byline.organization'],
      dtype='object')

In [13]:
df.info()

<class 'pandas.core.frame.DataFrame'>
RangeIndex: 242020 entries, 0 to 242019
Data columns (total 28 columns):
 #   Column                   Non-Null Count   Dtype
---  ------                   --------------   -----
 0   abstract                 242020 non-null  object
 1   web_url                  242020 non-null  object
 2   snippet                  242020 non-null  object
 3   lead_paragraph           242020 non-null  object
 4   print_section            160315 non-null  object
 5   print_page               160324 non-null  object
 6   source                   242020 non-null  object
 7   multimedia               242020 non-null  object
 8   keywords                 242020 non-null  object
 9   pub_date                 242020 non-null  object
 10  document_type            242020 non-null  object
 11  news_desk                242020 non-null  object
 12  section_name             242020 non-null  object
 13  subsection_name          105197 non-null  object
 14  type_of_material         242020 non-null  object
 15  _id                      242020 non-null  object
 16  word_count               242020 non-null  object
 17  uri                      242020 non-null  object
 18  headline.main            242020 non-null  object
 19  headline.kicker          83759 non-null   object
 20  headline.content_kicker  0 non-null       object
 21  headline.print_headline  242020 non-null  object
 22  headline.name            0 non-null       object
 23  headline.seo             0 non-null       object
 24  headline.sub             0 non-null       object
 25  byline.original          242020 non-null  object
 26  byline.person            242020 non-null  object
 27  byline.organization      7463 non-null    object
dtypes: object(28)
memory usage: 51.7+ MB

In [14]:
df.shape

(242020, 28)

# Export Data

In [15]:
df.to_csv("news_data/archive_data.csv", index=False)