# Import Data

In [17]:
# import getpass
# APIKEY = getpass.getpass()

In [18]:
# !mkdir -p news_data
# for year in range(2014, 2015):
#     for month in range(1, 3):
#         output_file = f"news_data/archive_{year}_{month:02d}.json"
#         url = f"https://api.nytimes.com/svc/archive/v1/{year}/{month}.json?api-key={APIKEY}"
#         !curl --request GET -o $output_file "$url"

# To Dataframe

In [1]:
import json
import pandas as pd

In [2]:
columns = ['abstract', 'web_url', 'snippet', 'pub_date', 'document_type', 'news_desk', 'type_of_material', 'word_count', 'headline.main']

In [3]:
def json_to_df(json_file_path, dataframe):
    with open(json_file_path, 'r') as file:
        content = json.load(file)["response"]["docs"]
    df = pd.json_normalize(content)
    df = df[columns]
    return pd.concat([df, dataframe], ignore_index=True)

In [4]:
# column_names = ['abstract', 'web_url', 'snippet', 'lead_paragraph', 'source', 'multimedia', 'keywords', 'pub_date', 'document_type', 'news_desk','section_name', 'type_of_material', '_id', 'word_count', 'uri', 'headline.main', 'headline.kicker', 'headline.content_kicker', 'headline.print_headline', 'headline.name', 'headline.seo', 'headline.sub', 'byline.original', 'byline.person', 'byline.organization', 'print_section', 'print_page', 'subsection_name']

In [5]:
df = pd.DataFrame(columns=columns)
for year in range(2016, 2020):
    for month in range(1, 13):
        filename = f"news_data/archive_{year}_{month:02d}.json"
        df = json_to_df(filename, df)

In [7]:
df.describe()

,abstract,web_url,snippet,pub_date,document_type,news_desk,type_of_material,word_count,headline.main
count,242020,242020,242020,242020,242020,242020,242020,242020,242020
unique,229899,241987,229830,223882,3,97,32,4543,233507
top,Here’s what you need to know to start your day.,https://www.nytimes.com/,Here’s what you need to know to start your day.,2018-06-24T04:00:01+0000,article,Foreign,News,0,Quotation of the Day
freq,1857,22,1857,22,220099,22955,163755,22156,423

In [8]:
df.columns

Index(['abstract', 'web_url', 'snippet', 'pub_date', 'document_type',
       'news_desk', 'type_of_material', 'word_count', 'headline.main'],
      dtype='object')

In [9]:
df.info()

<class 'pandas.core.frame.DataFrame'>
RangeIndex: 242020 entries, 0 to 242019
Data columns (total 9 columns):
 #   Column            Non-Null Count   Dtype
---  ------            --------------   -----
 0   abstract          242020 non-null  object
 1   web_url           242020 non-null  object
 2   snippet           242020 non-null  object
 3   pub_date          242020 non-null  object
 4   document_type     242020 non-null  object
 5   news_desk         242020 non-null  object
 6   type_of_material  242020 non-null  object
 7   word_count        242020 non-null  object
 8   headline.main     242020 non-null  object
dtypes: object(9)
memory usage: 16.6+ MB

In [10]:
df.shape

(242020, 9)

# Export Data

In [11]:
df.to_csv("news_data/archive_data.csv", index=False)