In [1]:
!pip install -q yfinance

In [17]:
import yfinance as yf
yf.pdr_override()
import pandas as pd
import numpy as np
from datetime import datetime
from sklearn.preprocessing import StandardScaler

In [21]:
stock = '^GSPC'
start = datetime(2016,1,1)
end = datetime(2019,12,31)
df = yf.download(stock, start, end)

[*********************100%%**********************]  1 of 1 completed

In [22]:
df['Change'] = (df['Close'] - df['Open']) / df['Open']
df.reset_index(inplace=True)
scaler = StandardScaler()
numeric_columns = ['Volume', 'Change']
df[numeric_columns] = scaler.fit_transform(df[numeric_columns])
df = df.drop(['Open', 'High', 'Low', 'Close', 'Adj Close'], axis=1)

/Users/ange/opt/anaconda3/envs/nlp/lib/python3.11/site-packages/sklearn/utils/validation.py:767: FutureWarning: is_sparse is deprecated and will be removed in a future version. Check `isinstance(dtype, pd.SparseDtype)` instead.
  if not hasattr(array, "sparse") and array.dtypes.apply(is_sparse).any():
/Users/ange/opt/anaconda3/envs/nlp/lib/python3.11/site-packages/sklearn/utils/validation.py:605: FutureWarning: is_sparse is deprecated and will be removed in a future version. Check `isinstance(dtype, pd.SparseDtype)` instead.
  if is_sparse(pd_dtype):
/Users/ange/opt/anaconda3/envs/nlp/lib/python3.11/site-packages/sklearn/utils/validation.py:614: FutureWarning: is_sparse is deprecated and will be removed in a future version. Check `isinstance(dtype, pd.SparseDtype)` instead.
  if is_sparse(pd_dtype) or not is_extension_array_dtype(pd_dtype):
/Users/ange/opt/anaconda3/envs/nlp/lib/python3.11/site-packages/sklearn/utils/validation.py:767: FutureWarning: is_sparse is deprecated and will be removed in a future version. Check `isinstance(dtype, pd.SparseDtype)` instead.
  if not hasattr(array, "sparse") and array.dtypes.apply(is_sparse).any():
/Users/ange/opt/anaconda3/envs/nlp/lib/python3.11/site-packages/sklearn/utils/validation.py:605: FutureWarning: is_sparse is deprecated and will be removed in a future version. Check `isinstance(dtype, pd.SparseDtype)` instead.
  if is_sparse(pd_dtype):
/Users/ange/opt/anaconda3/envs/nlp/lib/python3.11/site-packages/sklearn/utils/validation.py:614: FutureWarning: is_sparse is deprecated and will be removed in a future version. Check `isinstance(dtype, pd.SparseDtype)` instead.
  if is_sparse(pd_dtype) or not is_extension_array_dtype(pd_dtype):

In [23]:
df

           Date    Volume    Change
0    2016-01-04  0.995004 -1.835180
1    2016-01-05  0.112543  0.186374
2    2016-01-06  1.041881 -1.565157
3    2016-01-07  2.133313 -3.098581
4    2016-01-08  1.526110 -1.802179
...         ...       ...       ...
1000 2019-12-23 -0.834570 -0.115337
1001 2019-12-24 -3.442452 -0.116700
1002 2019-12-26 -2.162097  0.545345
1003 2019-12-27 -1.771785 -0.344872
1004 2019-12-30 -0.897717 -0.862632

[1005 rows x 3 columns]

In [24]:
df.describe()

                                Date        Volume        Change
count                           1005  1.005000e+03  1.005000e+03
mean   2017-12-30 23:39:56.417910528  4.242046e-17 -1.767519e-18
min              2016-01-04 00:00:00 -3.442452e+00 -5.623241e+00
25%              2016-12-30 00:00:00 -5.723508e-01 -3.564754e-01
50%              2017-12-29 00:00:00 -1.553993e-01  4.093136e-02
75%              2018-12-31 00:00:00  3.731099e-01  4.719480e-01
max              2019-12-30 00:00:00  5.940851e+00  6.372936e+00
std                              NaN  1.000498e+00  1.000498e+00

In [25]:
import os
if not os.path.exists("stock_data"):
    os.makedirs("stock_data")
df.to_csv("stock_data/^GSPC_stock.csv", index=False)