In [1]:
!pip install -q yfinance

In [1]:
import yfinance as yf
yf.pdr_override()
import pandas as pd
import numpy as np
from datetime import datetime

In [5]:
stock = 'AAPL'
start = datetime(2016,1,1)
end = datetime(2019,12,31)
df = yf.download(stock, start, end)

[*********************100%%**********************]  1 of 1 completed

In [7]:
df['Change'] = df['Close'] - df['Open']
df.reset_index(inplace=True)
df = df.drop(['Open', 'High', 'Low', 'Close', 'Adj Close'], axis=1)

In [8]:
df

           Date     Volume    Change
0    2016-01-04  270597600  0.684999
1    2016-01-05  223164000 -0.760000
2    2016-01-06  273829600  0.035000
3    2016-01-07  324377600 -0.557501
4    2016-01-08  283192000 -0.397501
...         ...        ...       ...
1000 2019-12-23   98572000  0.867500
1001 2019-12-24   48478800 -0.105003
1002 2019-12-26   93121200  1.272499
1003 2019-12-27  146266000 -0.330002
1004 2019-12-30  144114400  0.514999

[1005 rows x 3 columns]

In [9]:
df.describe()

                                Date        Volume       Change
count                           1005  1.005000e+03  1005.000000
mean   2017-12-30 23:39:56.417910528  1.276451e+08     0.032366
min              2016-01-04 00:00:00  4.544800e+07    -2.275002
25%              2016-12-30 00:00:00  8.901480e+07    -0.187500
50%              2017-12-29 00:00:00  1.113416e+08     0.042500
75%              2018-12-31 00:00:00  1.461896e+08     0.265003
max              2019-12-30 00:00:00  5.334788e+08     2.217499
std                              NaN  5.776264e+07     0.470984

In [10]:
import os
if not os.path.exists("stock_data"):
    os.makedirs("stock_data")
df.to_csv("stock_data/AAPL_stock.csv", index=False)