In [7]:
import pandas as pd
from nltk.sentiment import SentimentIntensityAnalyzer
import nltk
nltk.download('vader_lexicon')

[nltk_data] Downloading package vader_lexicon to
[nltk_data]     /Users/ange/nltk_data...

True

In [3]:
df = pd.read_csv("news_data/news_data_preprocessed.csv")

In [4]:
df

,abstract,web_url,snippet,pub_date,document_type,news_desk,type_of_material,word_count,headline.main,headline_lemmas,snippet_lemmas
0,President Trump’s aides were delighted that ne...,https://www.nytimes.com/2019/11/30/us/politics...,President Trump’s aides were delighted that ne...,2019-12-01T00:15:08+0000,article,Washington,News,1341,A Leak-Prone White House Finally Manages to Ke...,"['a', 'white', 'house', 'finally', 'manages', ...","['president', 'trump', 'aide', 'delighted', 'n..."
1,The Buckeyes quarterback threw one of his four...,https://www.nytimes.com/2019/11/30/sports/ncaa...,The Buckeyes quarterback threw one of his four...,2019-12-01T00:33:57+0000,article,Sports,News,727,Justin Fields Has ‘Heisman Moment’ in Ohio Sta...,"['justin', 'field', 'ha', 'heisman', 'moment',...","['the', 'buckeye', 'quarterback', 'threw', 'on..."
2,A personal loss has prompted Eileen Shiffrin t...,https://www.nytimes.com/2019/11/30/sports/skii...,A personal loss has prompted Eileen Shiffrin t...,2019-12-01T00:37:15+0000,article,Sports,News,762,Mikaela Shiffrin Learns a New Way to Win: With...,"['mikaela', 'shiffrin', 'learns', 'new', 'way'...","['a', 'personal', 'loss', 'prompted', 'eileen'..."
3,The actor and environmentalist released a stat...,https://www.nytimes.com/2019/11/30/world/ameri...,The actor and environmentalist released a stat...,2019-12-01T01:03:22+0000,article,Express,News,540,Leonardo DiCaprio Responds to Brazil’s Preside...,"['leonardo', 'dicaprio', 'responds', 'brazil',...","['the', 'actor', 'environmentalist', 'released..."
4,A blocked pipe caused sewage to back up severa...,https://www.nytimes.com/2019/11/30/nyregion/Qu...,A blocked pipe caused sewage to back up severa...,2019-12-01T01:47:35+0000,article,Express,News,781,Cooking Grease Down a Drain Eyed in Sewage Flo...,"['cooking', 'grease', 'down', 'drain', 'eyed',...","['a', 'blocked', 'pipe', 'caused', 'sewage', '..."
...,...,...,...,...,...,...,...,...,...,...,...
242015,"Anna Wintour, Condé Nast’s artistic director, ...",https://www.nytimes.com/2016/02/01/business/me...,"Anna Wintour, Condé Nast’s artistic director, ...",2016-01-31T23:09:07+0000,article,Business,News,1348,"Condé Nast Adapts to New Forces, Leaving Some ...","['condé', 'nast', 'adapts', 'new', 'force', 'l...","['anna', 'wintour', 'condé', 'nast', 'artistic..."
242016,Microsoft sank a data center on the ocean floo...,https://www.nytimes.com/2016/02/01/technology/...,Microsoft sank a data center on the ocean floo...,2016-01-31T23:25:58+0000,article,Business,News,1223,Microsoft Plumbs Ocean’s Depths to Test Underw...,"['microsoft', 'plumb', 'ocean', 'depth', 'test...","['microsoft', 'sank', 'data', 'center', 'ocean..."
242017,"David Eisenhauer, a freshman charged with abdu...",https://www.nytimes.com/2016/02/01/us/two-virg...,"David Eisenhauer, a freshman charged with abdu...",2016-01-31T23:35:00+0000,article,National,News,459,Two Virginia Tech Students Arrested in Girl’s ...,"['two', 'virginia', 'tech', 'student', 'arrest...","['david', 'eisenhauer', 'freshman', 'charged',..."
242018,A time-capsule look at how the show as markete...,https://artsbeat.blogs.nytimes.com/2016/01/31/...,A time-capsule look at how the show as markete...,2016-01-31T23:53:20+0000,article,Culture,News,161,Theater Flashback: ‘Grease’ on Broadway,"['theater', 'flashback', 'grease', 'broadway']","['a', 'look', 'show', 'marketed', 'first', 'op..."
242019,"When scores of masked men, many of them gang m...",https://www.nytimes.com/2016/02/01/world/europ...,"When scores of masked men, many of them gang m...",2016-01-31T23:55:29+0000,article,Foreign,News,394,Swedish Police Foiled Planned Attack on Immigr...,"['swedish', 'police', 'foiled', 'planned', 'at...","['when', 'score', 'masked', 'men', 'many', 'ga..."

In [8]:
sia = SentimentIntensityAnalyzer()

In [15]:
df['compound'] = df['snippet_lemmas'].apply(lambda x: sia.polarity_scores(x)['compound'])

In [16]:
df.describe()

          word_count  compound
count  242020.000000  242020.0
mean      817.467734       0.0
std       676.706438       0.0
min         0.000000       0.0
25%       396.000000       0.0
50%       791.000000       0.0
75%      1130.000000       0.0
max     27976.000000       0.0